<!doctype html>
<%
// 入口名称
let entry = htmlWebpackPlugin.options.name;
let ie8 = "";
let chunks = [];

for (let name in htmlWebpackPlugin.files.chunks) {
	let chunk = htmlWebpackPlugin.files.chunks[name];
	if (name === "vendor") {
		chunks.push(chunk.entry);
	}
	if (name === entry) {
		chunks.push(chunk.entry);
	}
	if (name === "ie8") {
		ie8 = chunk.entry;
	}
}

//
// const polyfillFileIndex = jsFiles.findIndex(jsFile => jsFile.entryName === 'ie8');
// const polyfillFile = jsFiles.splice(polyfillFileIndex, 1)[0];
%>
<html>
<head>
	<meta charset="utf8"/>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= htmlWebpackPlugin.options.title %>-</title>

	<link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.favicon %>">
	<!--<% for (var css in htmlWebpackPlugin.files.css) { %>-->
	<!--<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">-->
	<!--<% } %>-->
</head>
<body>   
<div id="app">
	loading...
</div>
<!--<%= JSON.stringify(htmlWebpackPlugin, null, "\t") %>-->
<!--<%= JSON.stringify([], null, "\t") %>-->

<% chunks.forEach(path => { %>
<script type="text/javascript" src="<%= path %>"></script>
<% }) %>

</body>
</html>

